<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>

        <listener class-name="listeners.AnnotationTransformer"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/91945/eclipse-workspace/CucumberRevison">

        <classes>
            <class name="stepDefs.runner.TestNGRunnerTest"/>
        </classes>


    </test>
</suite>